<nav class="navbar sticky-top navbar-expand-lg p-3 mb-3">
    <div class="container">
        <!-- Title -->
        <a href="./index.html">
            <i class="fa-solid fa-mug-hot fa-3x me-2"></i>
            <span class="nav-title">Cafe Java</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto right-nav nav-auth d-flex justify-content-center align-items-center">
                <a href="../menu.html" class="nav-a">Menu</a>
                <a href="../cart.html" class="nav-a">Cart</a>
                <a href="../index.html" type="button" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>