<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewItem</servlet-name>
        <servlet-class>controller.ViewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCart</servlet-name>
        <servlet-class>controller.CreateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCart</servlet-name>
        <servlet-class>controller.ClearCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>controller.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateCheckout</servlet-name>
        <servlet-class>controller.ValidateCheckout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewItem</servlet-name>
        <url-pattern>/viewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCart</servlet-name>
        <url-pattern>/CreateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCart</servlet-name>
        <url-pattern>/ClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateCheckout</servlet-name>
        <url-pattern>/ValidateCheckout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
