:root {
    --background-color: #242121;
    --background-color2: #302e2e;
    --nav-color: #292828;
    --text-color: #e7e2e2;
    --text-color2: #a1a1a1;
    --color-accent1: #56b280;
    --color-accent2: #468663;
}

/*Make Container flexbox*/

body {
    font-family: "Red Hat Display", "Red Hat Mono", "Red Hat Text", sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

nav,
.footer {
    background-color: var(--nav-color);
}

.nav-title,
a,
body,
nav a:hover {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.nav-title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
    font-size: 32px;
}

.nav-auth {
    font-size: 20px;
    font-weight: 600;
}

.nav-a:hover,
.fa-mug-hot {
    color: var(--color-accent1);
}

.nav-a {
    margin-right: 32px;
}

/*Changed btn-primary colors*/
.btn-primary {
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    background-color: var(--color-accent1);
    border-color: var(--color-accent1);
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    color: var(--text-color);
    background-color: var(--color-accent2);
    border-color: var(--color-accent2);
}

/*Index*/

.index-sub,
.index-title {
    max-width: 600px;
    font-size: 60px;
    font-weight: 800;
}

.index-sub {
    font-size: 30px;
    font-weight: 600;
}

.index .btn-primary {
    max-width: 280px;
    font-size: 27px;
}

/*Background image of index*/
.bg-img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}

/*Menu*/
.menu-title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.menu-subt {
    font-size: 18px;
    text-align: center;
    color: var(--text-color2);
}

/*Item*/
.item-card {
    background-color: var(--background-color2);
    border-radius: 20px;
    max-width: 300px;
}

.item-img {
    border-radius: 20px 20px 0 0;
    max-height: 230px;
    object-fit: cover;
}

.item-title {
    font-size: 20px;
    font-weight: 700;
}

.item-price {
    font-size: 20px;
    color: var(--color-accent1);
    text-align: right;
}

/*Description*/
.desc-card {
    background-color: var(--background-color2);
}

.desc-title {
    font-size: 40px;
    font-weight: 800;
}

.desc-price {
    font-size: 32px;
    color: var(--color-accent1);
}

.desc-text {
    font-family: "Red Hat Text", sans-serif;
    font-size: 20px;
    line-height: 2.5em;
    max-width: 700px;
}

.desc-btn {
    width: 250px;
}

.desc-quant {
    font-size: 24px;
    font-family: "Red Hat Text", sans-serif;
}

/*Quantity Button*/
.input-group-field,
.quant-btn {
    background-color: var(--background-color);
}

.input-group-field {
    text-align: center;
    color: var(--color-accent1);
    border: 0;
    width: 80px;
}

.quant-btn {
    border-color: var(--color-accent2);
    border-radius: 30%;
    font-size: 20px;
}

.quant-btn,
.quant-icon {
    color: var(--color-accent1);
}

.input-group-field ::-webkit-outer-spin-button,
.input-group-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

/*Cart*/
.cart-checkout {
    font-size: 25px;
}

.cart-img {
    max-width: 150px;
}

.cart-title {
    font-size: 24px;
    font-weight: 800;
}

.cart-subt {
    font-size: 18px;
}

.cart-legend,
.cart-price {
    font-size: 24px;
}

/*Checkout*/
.checkout-title {
    font-size: 40px;
    font-weight: 800;
}

.checkout-subt {
    font-size: 30px;
    color: var(--color-accent1);
}

/*Login*/
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  color: var(--color-accent1);
}
.center form{
  padding: 20px 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--color-accent1);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--color-accent1);
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: var(--color-accent1);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.Login{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--color-accent1);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.Login:hover{
  border-color: var(--color-accent1);
  transition: .5s;
}

/*Smaller Screens*/
@media screen and (max-width: 1024px) {
    .bg-img {
        left: 50%;
        margin-left: -512px;
    }

    .nav-a {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .index-title {
        font-size: 40px;
    }

    .index .btn-primary,
    .index-sub {
        font-size: 20px;
    }

    .cart-img {
        display: none;
    }

    .cart-title {
        font-size: 15px;
        font-weight: 800;
    }

    .cart-subt {
        font-size: 12px;
    }

    .cart-checkout,
    .cart-legend,
    .cart-price,
    .cart-remove {
        font-size: 15px;
    }

    .cart-quant {
        max-width: 60px;
    }

    .cart-remove,
    .cart-title {
        margin-left: 0;
    }

    .quant-btn {
        max-width: 40px;
        font-size: 10px;
    }

    .desc-btn,
    .desc-quant {
        font-size: 18px;
    }
}
