:root {
    --background-color: #242121;
    --background-color2: #292828;
    --text-color: #FFFFFF;
    --text-color2: #E7E2E2;
    --color-accent1: #0DCAF0;
    --color-accent2: #FFC107;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.card-text, .card-title{
    color:black;
}

footer{
    text-align: center;
}

a {
  text-decoration: none;
}

